<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
  </head>
  <body>
    <h1>{{ node_type }}</h1>
    <img id="logo" alt="logo" src="file://{{ logo_path }}" />
      {{ label }}
    <div class="page">
      {{ content }}
    </div>
  </body>
</html>
