<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" media="all" href="/profiles/contrib/stratoserp_base/themes/stratoserp_theme/css/print.css" />
  </head>
  <body>
    <h1>{{ node_type }}</h1>
    {% if logo_path %}
    <img id="logo" alt="logo" src="file://{{ logo_path }}" />
    {%  endif %}
    {{ label }}
    <div class="page">
      {{ content }}
    </div>
  </body>
</html>
